.seccion_carga_csv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 50%;
        height: 50%;
        h1{
            color: #333;
        }
    }
}